extends layout

block content
	header.pt-5.pb-5
		h1.display-4.text-center Web Inventory

	main.mt-3
		a(href='/').btn.btn-primary New Transaction

		table.table.table-bordered.table-striped.table-hover.mt-3
			thead
				tr
					th(scope='col') #
					th(scope='col') Item
					th(scope='col') @
					th(scope='col') Qty
					th(scope='col') Total
			tbody
				tr
					th(scope='row') 1
					td Paper
					td 10.000
					td 100
					td 1.000.000
				tr
					th(scope='row') 2
					td Printer
					td 2.000.000
					td 50
					td 10.000.000
				tr
					th(scope='row' colspan='4') Total Inventory
					td 11.000.000
